.textbox {
    font-family: 'Raleway';
    font-size: 25px;
    color: white;
    padding: 10px;
    margin-right: 20px;
    margin-left: 10px;
}


.filterRow {
    background-color: rgb(98, 168, 229);
    padding: 20px;
    display: flex;
  flex-direction: row;
  align-items: center;
}

button {
    border-radius: 2px;
    border: 2px;
    border-color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  border: 1.5px solid white;  
  height: fit-content;
  width: fit-content;
  color:white;
  font-family: 'Raleway';
  margin-left:8px;
  margin-right:8px;
  font-size:18px;
  text-align: center;
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}