@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,800');

body {
  background-color: white;
  padding: 0px;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: 'Raleway';
}

.header{
  background-image: linear-gradient(to bottom, black, rgb(88, 88, 88));
  justify-content: center;
  width:100vw;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: row;
  padding-top:20px;
}

.li {
  text-decoration: none;
  border-radius: 7px;
  border: 1.5px solid rgb(82, 150, 210); 
  margin-top: 15px;  
  height: fit-content;
  width: fit-content;
  color:rgb(82, 150, 210);
  font-family: 'Raleway';
  margin-left:15px;
  margin-right:15px;
  font-size:calc(16px + (25 - 16) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

a {
    color: rgb(82, 150, 210);
    font-weight: 400;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:15px;
    padding-right:15px;
    display: inline-block;
}

.content {
  background-color: #FFF;
  padding: 0px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 0px;
}
.active{
  color: #fff;
  background-color:rgb(82, 150, 210);
  border-radius: 4px;
}
/*-----------------*/
.button {
    border-radius: 7px;
    border: 1.5px solid rgb(82, 150, 210); 
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right:15px;
    height: fit-content;
    width: fit-content;
    color:rgb(82, 150, 210);
    font-family: 'Raleway';
    font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)))
}

.button2 {
    border-radius: 7px;
    border: 1.5px solid rgb(82, 150, 210); 
    margin-top: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left:30px;
    padding-right:30px;
    height: fit-content;
    width: fit-content;
    color:rgb(82, 150, 210);
    font-family: 'Raleway';
    font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    margin-left:1%;
}

.button3 {
    border-radius: 7px;
    border: 1.5px solid rgb(82, 150, 210); 
    margin-top: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left:30px;
    padding-right:30px;
    height: fit-content;
    width: fit-content;
    color:rgb(82, 150, 210);
    font-family: 'Raleway';
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
}

p{
  font-weight: 800;
}
title{
  font-weight: 500;
}
.title2 {
color: white;
font-size: 55px;
font-weight: 400; /* regular */
font-family: 'Raleway';
text-align: center;
padding-top: 20px;
margin: auto;

}

.subtitle {
color: white;
font-size: 26px;
font-family: 'Raleway';
text-align: center;
padding: 20px;
margin: auto;
}

.line {
color: rgb(82, 150, 210);
font-size: 20pt;
font-weight: 400; /* medium */
font-family: 'Times New Roman';
}


.item_title{
padding-left: 1%;
padding-top: 50px;
font-size: calc(14px + (57 - 14) * ((100vw - 300px) / (1600 - 300)));
font-family: 'Raleway';
color: rgb(82, 150, 210);
text-align: left;
font-weight: 500;
}

.item_title2 {
  padding-left: 1%;
  padding-right: 7vw;
  padding-top: 50px;
  font-size: calc(14px + (57 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Raleway';
  color: rgb(82, 150, 210);
  text-align: left;
  width: 100%;
}

.textbox{
font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
font-family: 'Raleway';
text-align: left;
padding-top: 20px;
padding-left: 1%;
padding-right: 10%;
color: rgb(114, 113, 113);
}

.textbox2{
font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
font-family: 'Raleway';
text-align: left;
padding: 0px;
vertical-align: middle;
width: 30vw;
}

.textbox3{
  font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Raleway';
  text-align: left;
  padding-top: 20px;
  padding-left: 1%;
  padding-right: 0%;
  color: rgb(114, 113, 113);
}

.number4{
  font-size: 224px;
  z-index:50px;
  color: white;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgb(82, 150, 210);
  font-family: 'Archivo Black';
  padding-bottom: 140px;
}
.number5{
  font-size: 224px;
  z-index:50px;
  color: white;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgb(82, 150, 210);
  font-family: 'Archivo Black';
  padding-bottom: 20px;
  padding-left: 0%;
}

.number6{
  font-size: 224px;
  z-index:50px;
  color: white;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgb(82, 150, 210);
  font-family: 'Archivo Black';
  padding-bottom: 0px;
  padding-left: 0;
}

.arrow_style{
  max-width:10%;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.img_style2{
max-width:39vw;
padding-left: 8%;
}

.img_style4{
width: 7vw;
height: 7vw;
padding-right: 50px;
padding-left: 50px;
}

.img_style5{
  max-width:40vw;
  padding-right: 0%;
}

.row_phoneA{
  margin-left:10px;
  margin-right:10px;
  padding-top: 0px;
  padding-bottom: 70px;
  padding-left:10px;
  padding-right:10px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.row_phoneB{
  margin-left:0px;
  margin-right:0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:10px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(90, 90, 90), white);
}

.row_phoneC{
    margin-left:10px;
    margin-right:10px;
    padding-top: 0px;
    padding-bottom: 70px;
    padding-left:10px;
    padding-right:10px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: top;
  }

.rowPadTitleA{
  padding-top: 20px;
  padding-bottom: 10px;
  flex-direction: column;
}

.page-wrapper{
margin: 0px;
width: auto;
background-size: contain;
}

.column {
display: flex;
flex-direction: column;
flex-basis: 100%;
width: auto;
height: auto;
position: relative;
flex: 1;
align-items: left;
padding-right: 40px;
}

.column4 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: auto;
  height: auto;
  position: relative;
  flex: 1;
  align-items: left;
  padding-left: calc(0px + (30 - 0) * ((100vw - 300px) / (1600 - 300)));
}


.column_image {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: auto;
  height: auto;
  position: relative;
  flex: 1;
  align-items: center;
  padding-top: 50px;
}

.column_image2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: auto;
  height: auto;
  position: relative;
  flex: 1;
  align-items: center;
  padding-right:10px;
  padding-top: 50px;
}

.column3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: auto;
  height: auto;
  position: relative;
  flex: 1;
  align-items: left;
}

.column2 {
display: flex;
flex-direction: row;
flex-basis: 100%;
width: 20%;
flex: 1;
align-items: center;
position: relative;
}

.column5 {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  justify-content: left;
}

.column6 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: auto;
  height: auto;
  position: relative;
  flex: 1;
  align-items: left;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  width: auto;
  flex: 1;
  align-items: top;
  position: relative;
  padding-left:30px;

}

.row3 {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  width: auto;
  flex: 1;
  align-items: top;
  position: relative;
  margin-left: auto;
}

.page-wrapper_phone{
padding-bottom: 40px;
}

.row_phone{
margin-left:10px;
margin-right:10px;
display: flex;
flex-direction: column;
position: relative;
align-items: center;
padding-right: 10px;
padding-left: 10px;
}

.row_phone2{
margin-left:10px;
margin-right:10px;
display: flex;
flex-direction: row;
position: relative;
align-items: center;
padding-right: 10px;
padding-left: 10px;
}

.rowPadTitle_phone{
margin-top: 100px;
margin-bottom: 10px;
flex-direction: column;
}

.rowPad_phone{
margin-bottom: 10px;
padding-top: 10px;
}

.title2_phone {
color: white;
font-size: 40px;
font-weight: 400; /* regular */
font-family: 'Raleway';
text-align: center;
padding: 10px;
margin: auto;

}

.subtitle_phone {
color: white;
font-size: 18px;
font-family: 'Raleway';
text-align: center;
padding: 10px;
margin: auto;
}

.line_phone {
color: #62A8E5;
font-size: 10pt;
font-weight: 400; /* medium */
font-family: 'Times New Roman';
}


.item_title_phone{
font-size: calc(20px + (100 - 20) * ((100vw - 300px) / (1600 - 300)));
font-family: 'Raleway';
color: rgb(73, 144, 206);
text-align: left;
padding: 10px;
}

.textbox_phone{
font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
font-family: 'Raleway';
text-align: center;
padding: 20px;
}

.textbox2_phone{
font-size: calc(20px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
font-family: 'Raleway';
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
}

.number_phone{
font-size: calc(140px + (200 - 140) * ((100vw - 300px) / (1600 - 300)));
z-index:1px;
color: white;
-webkit-text-stroke-width: 4px;
-webkit-text-stroke-color: rgb(58, 144, 218);
font-family: 'Archivo Black';
padding-left: 10px;
padding-right: 10px;
}

.number2_phone{
position: absolute;
top: -50px;
left: -40px;
font-size: 150px;
z-index:50px;
color: white;
-webkit-text-stroke-width: 4px;
-webkit-text-stroke-color: rgb(58, 144, 218);
font-family: 'Archivo Black';
padding: 10px;
}

.number3_phone{
position: absolute;
top: -60px;
left: -40px;
font-size: 200px;
z-index:50px;
color: white;
-webkit-text-stroke-width: 4px;
-webkit-text-stroke-color: rgb(58, 144, 218);
font-family: 'Archivo Black';
padding: 10px;
}

.img_style_phone{
max-width:75%;
padding: 10px;
padding-top:10px;
display: flex;
flex-direction: column;
align-content: center;
}

.img_style3_phone{
max-width:25%;
align-items: center;
}

.column_phone {
display: flex;
flex-direction: column;
flex-basis: 100%;
width: auto;
height: auto;
position: relative;
flex: 1;
}

.column2_phone {
display: flex;
flex-direction: row;
flex-basis: 100%;
width: 20%;
flex: 1;
}

.App {
text-align: center;
}

.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

.container{
margin: 15px;
background-color: white;
}

.row_title {
height: 30vh;
display: flex;
flex-direction: row;
position: relative;
align-items: center;
flex: 1;
width: 100%;
}
@media screen and (max-width: 768px) {
.row_title {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  align-items: center;
  flex: 1;
  width: 85% !important;
  font-size: 40px;
  font-family: 'Archivo Black';
  margin-left: 5%;
  height:auto !important;
  margin-bottom: 50px;
}
}

@media screen and (max-width: 768px) {
.rowPad{
  margin-bottom: 90px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;
}
}

@media screen and (max-width: 768px) {
.number{
  position: absolute;
  font-size: 160px;
  z-index:50px;
  color: #6E5CFF;
  font-family: 'Archivo Black';
  opacity:0.2;
}
}