/*  CSS for Related Dorms.
    Modifies elements within showRelatedDorms() funciton
    as well as within the return() function of the
    RelatedDorms.js component. 

    A number of the elements are currently set with 
    strict px; this may need to change.
     */


@media only screen and (max-width: 640px){
    .relatedDormImage {
        display: none;
        
    }

    .relatedDormName {
        width: 70vw;
        height: 3rem;
        border: solid gray 1px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0,0,0,0.2) 2px 2px 5px;
        margin: 0.5rem 0;
    }
}

@media only screen and (min-width: 641px){
    /* locked at specific px */
    .relatedDormImage {
        max-height: 150px;
        max-width: 150px;
        margin-right: 0.7vh;
        margin-left : 0.7vh;
    }

    /* might need px modification */
    .relatedDormName {
        margin: 0px 0 0 5px;
    }

}

.relatedDormsList {
    /* border: 1px black solid;
    border-radius: 1px;  */
    min-width: 250px;
}

/* might need px modification  */
.relatedDormsTitle {
    margin: 20px 0 20px 5px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: 900;
    width: 100%;
}

/*  Display flex allows the CSS
    to wrap the content when the number
    of related dorms gets large enough,
    specifically `flex-wrap` set to `wrap`. */
.relatedDormsHorizontalView{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap
    
}
