div.DormButton {
	display: flex;
	flex-direction: row;
	border: 2px solid #9B9B9B;
	color: black;
	cursor: pointer;
	padding: 5px;
	margin-bottom: 2px;
}

img.dormimage {
	height: 125px;
	width: auto;
}

p.school {
	margin-bottom: 1px;
	font-size: 0.9em;
}

h4.dormname {
	margin-top: 2px;
}
