.expander {
    border: 1px black solid;
    border-radius: 10px;
    max-width: 400px;
}

.expanderContent {
    padding: 20px;
}

.expanderList {
    display: flex;
    flex-wrap: wrap;
}

.toggleSize {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 5px 20px;
    width: 100%;
}

.toggleSize:hover,
.toggleSize:focus {
    background-color: #ddd;
}