div.explore {
    width: 100%;
    height: 100%;
    padding: 0 auto;
}

div.sidebar div.map {
    padding: 0 auto;
}

div.sidebar {
    width: 33%;
    min-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

div.map {
    position: fixed;
    float: right;
    width: 67%;
    right: 0;
    top: 0;
    z-index:1;
}
