.header {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.SchoolButton {
	display: inline-block;
	font-size: 15pt;
	text-align: center;
	border: 1px solid #9B9B9B;
	color: #9B9B9B;
	height: 20px;
	margin: 20px 10px;
	padding: 2px;
	cursor: pointer;
}

.dorms {
	margin: 0 auto;
	overflow: scroll;
	height: 100%;
}

hr.sidebar-divider {
 	border: 1px solid #509e80;
	border-radius: 5px;
}
