#parent {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#stars {

}

#review {

}

#reviewInfo {

}

.row {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-around;
}