.textEntry {
	height: 2em;
	margin: 0;
	padding: 0;
	vertical-align: top;
	border-radius: 5px;
	border: 1px solid grey;
}

.submitButton {
	left: 2em;
	position: relative;
	height: 2em;
	width: 2em;
	padding: 2px;
	vertical-align: top;
}
