# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # Backend install
      - name: Install backend dependencies
        run: npm install

      # Optional: run backend tests
      - name: Run backend tests
        run: npm test --if-present

      # Frontend install
      - name: Install frontend dependencies
        run: |
          cd client
          npm install
